.card {
  @include flex-column($space-24);
  padding: $space-48;

  @include respond-to($breakpoint) {
    flex: 1;
    gap: $space-82;
  }

  &__content {
    @include flex-column($space-34);
  }

  &__icon {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 4rem;
  }

  &__text {
    @include flex-column($space-28);
  }

  &__title {
    color: $very-light-gray;
    font-family: $font-title;
    font-size: $font-size-40;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__description {
    color: $transparent-white;
    font-size: $font-size-15;
    line-height: $line-height-165;
  }

  &__button {
    align-items: center;
    background-color: $very-light-gray;
    border-radius: 5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 3rem;
    width: 9.125rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: transparent;
      border: 2px solid $very-light-gray;
      color: $very-light-gray;
    }

    &--sedan {
      color: $rusted-orange;
    }

    &--suv {
      color: $dark-cyan;
    }

    &--luxury {
      color: $very-dark-cyan;
    }
  }

  &--sedan {
    border-radius: $border-radius-8 $border-radius-8 0 0;
    background-color: $rusted-orange;

    @include respond-to($breakpoint) {
      border-radius: $border-radius-8 0 0 $border-radius-8;
    }
  }

  &--suv {
    background-color: $dark-cyan;
  }

  &--luxury {
    border-radius: 0 0 $border-radius-8 $border-radius-8;
    background-color: $very-dark-cyan;

    @include respond-to($breakpoint) {
      border-radius: 0$border-radius-8 $border-radius-8 0;
    }
  }
}
