// COLORS
// Primary
$rusted-orange: hsl(31, 100%, 33%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

// Neutral
$transparent-white: hsla(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0, 0%, 95%);

// TYPOGRAPHY
$font-main: "Lexend Deca", sans-serif;
$font-title: "Big Shoulders Display", sans-serif;
$font-size-40: 2.5rem;
$font-size-15: 0.938rem;

$line-height-165: 1.65;

// SPACING
$space-40: 3rem;
$space-34: 2.125rem;
$space-28: 1.75rem;
$space-24: 1.5rem;

// BORDERS
$border-radius-8: 0.5rem;

// BREAKPOINTS
$breakpoint-tablet: 37.563rem;
$breakpoint-desktop-small: 47.25rem;
$breakpoint-desktop-large: 56.25rem;
